<div
  class="pensamento {{ thought.modelo }} ff-roboto-mono"
  [ngClass]="larguraPensamento()"
>
  <img src="/assets/imgs/{{ thought.modelo }}.png" alt="Aspas coloridas" />
  <p class="conteudo">{{ thought.conteudo }}</p>
  <p class="autoria">
    <b>{{ thought.autoria }}</b>
  </p>
  <div class="acoes">
    <button (click)="favoriteItem()" class="botao-favorito">
      <img
        src="/assets/imgs/icone-favorito-{{ updateIconFavorite() }}.png"
        alt="Ícone de favorito"
      />
    </button>
    <button class="botao-editar" routerLink="update-thought/{{ thought.id }}">
      <img src="/assets/imgs/icone-editar.png" alt="Ícone de editar" />
    </button>
    <button class="botao-excluir" routerLink="delete-thought/{{ thought.id }}">
      <img src="/assets/imgs/icone-excluir.png" alt="Ícone de excluir" />
    </button>
  </div>
</div>
