<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>
      Adicione um <br />
      pensamento novo:
    </h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      formControlName="conteudo"
      placeholder="Digite o pensamento"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('conteudo')?.errors && form.get('conteudo')?.touched"
    >
      Pensamento é obrigatório!
    </div>
    <label for="autoria">autoria</label>
    <input
      type="text"
      class="input"
      id="autoria"
      formControlName="autoria"
      placeholder="Digite o autoria"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('autoria')?.errors?.['required'] && form.get('autoria')?.touched "
    >
      Autoria é obrigatório!
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('autoria')?.errors?.['minLength'] && form.get('autoria')?.touched"
    >
      Autoria precisa no minimo 3 letras
    </div>
    <label for="modelo">Selecione o modelo</label>

    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            id="modelo1"
            value="modelo1"
            type="radio"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>

        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imgs/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            id="modelo2"
            type="radio"
            formControlName="modelo"
            value="modelo2"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imgs/modelo2.png" alt="Aspas azuis" />
          <p class="conteudo">{{ form.get("modelo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            id="modelo3"
            type="radio"
            formControlName="modelo"
            value="modelo3"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imgs/modelo3.png" alt="Aspas azuis" />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        [disabled]="!form.valid"
        [ngClass]="verifiedForm()"
        (click)="createThought()"
      >
        Salver
      </button>
      <button routerLink="/" class="botao">Cancelar</button>
    </div>
  </form>
</section>
